* {
    box-sizing: border-box;
}

body {
    font-family:  Arial, Helvetica, sans-serif;
    padding: 10px;
    background: #E5f7fb;
    color: black;
}

/* Header/Blog Title */
.header {
    padding: 10px;
    text-align: center;
    background-color: #f1f1f1;
}

.header h1 {
    font-size: 50px;
}


.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav */
.topnav a {
    float: left;
    display: block;
    color: #e3f0ff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 25%;

}

/* Change color on hover */
.topnav a:hover {
    background-color: #abdbe3;
    color: black;
}


/* Left column */
.leftcolumn {
    float: left;
    width: 100%;
}

img.round {
    border-radius: 50%;
}

#img1{
  height: 300px;
  width : 150px;
}

#img2{
  height: 300px;
  width : 600px;
}

#img3{
  height: 300px;
  width : 200px;
}


/*FOR INFORMATION AND IMAGE*/
.flex-container {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
}
.flex-container2 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

a:link{
  text-decoration: none;
}
a:visited{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
a:active{
  text-decoration: none;
}
